@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  background: #04070e;
}

.input_item {
  margin-bottom: 20px;
  padding-bottom: 10px;

  width: 100%;
}

.input_item p {
  font-size: 18px;
  text-align: left;
  color: #ffffffcb;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 10px;
}

.input_item input[type="number"],
.input_item input[type="text"],
.input_item input[type="password"] {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 14px;
  text-align: left;
  color: #fff;
  background: rgb(50, 50, 50);
  font-weight: 400;
  outline: none;
  border: none;
}
.input_item textarea {
  width: 100%;
  resize: none;
  padding: 10px 15px;
  outline: none;
  border: none;
  height: 80px;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 14px;
  text-align: left;
  color: #fff;
  background: rgb(50, 50, 50);
  font-weight: 400;
}
.input_item input[type="file"] {
  color: #fff;
  margin-bottom: 14px;
}

.input_item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.input_item .input_item {
  margin-bottom: 10px;
}
.input_item .input_item:last-child {
  border-bottom: 0;
}
.input_item .input_item p {
  font-size: 12px;
}

.submit_btn {
  border-radius: 16px;
  padding: 15px 40px;
  background: linear-gradient(
    270deg,
    rgb(164, 185, 255),
    rgb(68, 112, 254) 100%
  );
  color: rgb(255, 255, 255);

  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.4s ease;
  border: none;
  cursor: pointer;
}

.login_form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}
.login_form input {
  width: 100% !important;
}

.login_form .submit_btn {
  width: 100%;
}

.success {
  color: green;
  text-align: center;
  margin-bottom: 20px;
}
.error {
  text-align: center;
  margin-bottom: 20px;
}
.error {
  color: red;
}

.page_wrapper {
  position: relative;
  width: 100%;
}

.page_menu {
  position: fixed;
  left: 30px;
  top: 30px;
}

.page_menu p {
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  color: #c0bebe;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 17px;
}

.page_menu p:hover {
  text-decoration: underline;
}

.datas_3_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.page_title h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
}

.input_item {
  padding: 20px;
  border-radius: 20px;
  background: rgba(160, 182, 255, 0.05);
}

.diagramm_inputs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.password_form {
  max-width: 400px;
  margin: 0 auto;
}

.password_form .submit_btn {
  width: 100%;
  margin-top: 20px;
}

.password_form h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.page_wrapper {
  padding-bottom: 40px;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .diagramm_inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .datas_3_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .diagramm_inputs,
  .datas_3_grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .input_item {
    padding: 20px 10px;
    border-radius: 10px;
  }
  .input_item textarea {
    height: 100px;
  }
  .datas_3_grid .input_item {
    margin: 0;
  }
  .page_title h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  .submit_btn {
    width: 100%;
  }
}
